.categorias{
    text-align: center;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
picture{
    font-size: 0;
}
.categorias__escolhas{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    width: 87.5%;
}
.categorias__titulo{
    color: #212529;
    font-size: 28px;
    font-weight: 700;   
    padding-bottom: 1.5rem; 
}
.categorias__item{
    display: flex;
    flex-direction: column;
    
}
.categorias__subtitulos{
    background-color: #000;
    color: #FFF;
    padding: .5rem;
}
@media (min-width:768px) {
    .categorias{
        width: 80%;
        padding: 2.5rem;
    }
    .categorias__titulo{
        font-size: 30px;
    }
}

@media (min-width:1440px) {
    .categorias{
        
        padding: 4rem 0 0 0;
    }
    .categorias__escolhas{
        width: 100%;
    }
} 